/* Put your CSS here */
.ember-application {
    margin: 20px;
    overflow-y: scroll;
}

body {
	padding-top: 60px;
}

h2 {
	margin-top: 0px;
}

#contact {
	padding-right: 50px;
}

ul {
	list-style-type: none;
}

#sidebar {
	margin-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	width: 240px;
	height: 318px;
	position: fixed;
	left: 0px;
}

#sidebar ul li {
	margin-top: 5px;
	font-size: 12px;
}

li a {
	color: black;
}

li a:hover {
	color: black;
	text-decoration: none;
	background-color: yellow;
}

.sub-list li {
	margin-left: -20px;
}

.main-container {
	margin-left: 240px;
	margin-top: 10px;
}

.tile {
	margin-left: auto;
	margin-right: auto;
}

#thumb-1 {
	background-image: url('../images/thumbnails/dai-kincho.jpg');
	margin-left: auto;
	margin-right: auto;
	background-size: cover;
}

.thumbnail {
	padding: 0px;
	border: none;
}

.thumbnail p {
	text-align: center;
	font-size: 12px;
	color: black;
}

.tile,
.thumbnail img {
	width: 200px;
	height: 134px;
}

.thumbnail,
.img-thumbnail {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
	border: none;
	text-decoration: none;
}

a.thumbnail:hover span {
	background-color: yellow;
}

#sidebar ul li a:active, 
#sidebar ul li a:focus {
	background-color: black;
	color: white;
}

.hovered-nav {
	background-color: yellow;
}

.active-nav {
	background-color: black;
	color: white;
}

.center-count {
	width: 670px;
	text-align: center;
}

.thumbnailItem {
	width: 75px;
	height: 75px;
	float: left;
	margin-right: 10px;
}

.thumbnailViewList {
	position: absolute;
	bottom: 10px;
	left: 10px;
	right: 10px;
	height: 100px;
}

.thumbnailHover {
	background-color: yellow;
}
